body{
  font-family: Verdana;
  text-align: center;
}
#mybt{
  font-size: 3em;
  padding: 5px 25px;
  border-radius: 5px;
}
#mylb{
  font-size: 3em;
}
#diceResult{
  margin: 25px;
}
  #diceImages img{
  width: 150px;
  margin: 5px;
  
  }