*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Nunito",sans-serif;
}
.long_nav_bar{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-top-width: 0px;
  border-color: #ffffff;
  box-shadow: 2px 2px 4px 5px rgba(90, 90, 90, 0.2); 
}
.long_nav_bar a{
  text-decoration: none ;
  font-weight: bold;
  color: black;
  font-size: 32px;
  padding-left: 25px;
}
.nav_long_bar_tex{
color: gray;
margin-right: 25px;
font-size: 20px; }
.chat_notification{
  display: flex;
  
} 
.chat_chatbr{
  flex-grow: 25;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%; 
}
.notificatin{
flex-grow: 1;

}
.call_grp_msg_bar img{
  margin-top: 20px;
  height: 50px;
  width: 50px;
  object-fit: contain;

}
.home_plus_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_plus_nav img{
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
}
.call_grp_msg_bar{
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 4px 2px rgba(90, 90, 90, 0.2);
  border-top-width: 0;
  border-bottom-width: 0;
}
.home_serch_dirc a{
  display: inline-flex;
  margin-right: 45px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}
.home_serch_dirc input{
  display: block;
  width: 64%;
}

.chat_header-chatspace{
  flex:2 ;
}
.img_name_chat_pre{
display: flex;
justify-items:center ;
}
.chat_box{
  display: flex ;
  margin-top: 20px;
  justify-content: space-between;
  border: 1px;
  border-style: solid;
  border-top-width: 0px;
  border-color: #ffffff;
  box-shadow: 2px 2px 4px 5px rgba(90, 90, 90, 0.2); 
  border-right-width :0px ;
}
.time_msgnb img{
  width: 20px;
  margin-top: 0;
  margin-left:50% ;
}
.img_name_chat_pre h3{
  margin-bottom: 5px;
}
.img_name_chat_pre p{
  
}
.name_msg{
  margin-top: 20px;
}
.time{
  color: gray;
}